$myteal: (
    50 : #e1f0f1,
    100 : #b4dadc,
    200 : #83c1c4,
    300 : #51a8ac,
    400 : #2b969b,
    500 : #068389,
    600 : #057b81,
    700 : #047076,
    800 : #03666c,
    900 : #025359,
    A100 : #8bf5ff,
    A200 : #58f1ff,
    A400 : #25edff,
    A700 : #0bebff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$myorange: (
    50 : #fdf0e3,
    100 : #fbdab8,
    200 : #f8c289,
    300 : #f5a95a,
    400 : #f29636,
    500 : #f08413,
    600 : #ee7c11,
    700 : #ec710e,
    800 : #e9670b,
    900 : #e55406,
    A100 : #ffffff,
    A200 : #ffe5da,
    A400 : #ffc1a7,
    A700 : #ffaf8d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$myred: (
    50 : #f3e5e5,
    100 : #e2bdbd,
    200 : #ce9191,
    300 : #ba6565,
    400 : #ac4444,
    500 : #9d2323,
    600 : #951f1f,
    700 : #8b1a1a,
    800 : #811515,
    900 : #6f0c0c,
    A100 : #ffa1a1,
    A200 : #ff6e6e,
    A400 : #ff3b3b,
    A700 : #ff2222,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mylimegreen: (
    50 : #eefce0,
    100 : #d5f8b3,
    200 : #baf480,
    300 : #9eef4d,
    400 : #89eb26,
    500 : #74e800,
    600 : #6ce500,
    700 : #61e200,
    800 : #57de00,
    900 : #44d800,
    A100 : #ffffff,
    A200 : #d9ffcd,
    A400 : #b3ff9a,
    A700 : #a0ff80,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mypurple: (
    50 : #f2e0f5,
    100 : #dfb3e6,
    200 : #c980d6,
    300 : #b34dc5,
    400 : #a326b8,
    500 : #9300ac,
    600 : #8b00a5,
    700 : #80009b,
    800 : #760092,
    900 : #640082,
    A100 : #e9afff,
    A200 : #db7cff,
    A400 : #cd49ff,
    A700 : #c630ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$mygray: (
    50 : #ebebeb,
    100 : #cccccc,
    200 : #aaaaaa,
    300 : #888888,
    400 : #6f6f6f,
    500 : #555555,
    600 : #4e4e4e,
    700 : #444444,
    800 : #3b3b3b,
    900 : #2a2a2a,
    A100 : #d8d8d8,
    A200 : #b6b6b6,
    A400 : #707070,
    A700 : #494949,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
