#main-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.spacer {
  flex: 1 1 auto;
}

mat-card {
  flex: 0 0 20%;
  margin: 20px;
}

.btns {
  flex: 1 1 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  button {
    margin: 20px;
  }
}

mat-tab-group {
    flex: 1;
}

.example-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 20px;

  > * {
    flex: 0 0 auto;
  }
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 12px;
}
