#main-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  > mat-toolbar {
    > button {
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.router-outlet-div {
  padding: 20px;
  flex: 1;
}